{% extends 'sb-admin/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}Admin - Categorías{% endblock %}

{% block content %}
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">                            
                        
                        <h1 class="page-header">
                            Categorías <small> Clasificación de Productos por Características</small>
                        </h1>
                        <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="{% url 'sbadmin_categorias' %}"><i class="fa fa-book" aria-hidden="true"></i> CATEGORÍAS</a>
                                    </li>
                                    {% if breadcrumbs %}
                                        {% for slug,name in breadcrumbs %}
                                            <li class="breadcrumb-item"><a href="{% url 'sbadmin_categorias' slug=slug %}">{{ name | upper }}</a></li>
                                        {% endfor %}
                                    {% endif %}        
                                    <li class="breadcrumb-item active">
                                        {{ cat_name | upper }}
                                    </li>
                                </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <h3>{{ cat_name | upper }}</h3>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">Subcategorías</th>
                                        <th class="text-center">Visible</th>
                                        <th></th>
                                    </tr>
                                </thead>                                
                                <tbody>
                                    {% for ficha in lista %}
                                        <tr>
                                            <td><a href="{{ficha.slug}}">{{ficha.name}}</a></td>
                                            <td  class="text-center">
                                                {% if ficha.activo %}
                                                    <a class="success" href="{% url 'catego_desactivar' pk=ficha.pk %}"><i class="fa fa-check-square-o"></i></a>
                                                {% else %}
                                                    <a class="danger" href="{% url 'catego_desactivar' pk=ficha.pk %}"><i class="fa fa-square-o"></i></a>
                                                {% endif %}                   
                                            </td>                                                             
                                            <td class="text-center">
                                                <a href="/admin/shop/category/{{ficha.pk}}/change/">Editar <i class="fa fa-edit"></i></a>
                                                <a href="#" target="_blank">Vista Previa <i class="fa fa-eye"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>
                        <div class="row align-content-center justify-content-center">
                            {% if num_pages > 1 %}
                                {% bootstrap_pagination lista url="?page=1&page2=1&flop=flip" extra="q=foo" size="medium" %}
                            {% endif %}
                        </div>
                        <div class="row align-content-center justify-content-center">
                            <small>{{num_cate}} Categoría/s</small>
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-6">    
                        {% include 'sb-admin/productos-sub.html' %}                    
                        {% include 'sb-admin/categorias-resumen.html' %}                    
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}
