{% extends 'sb-admin/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}Admin - Productos{% endblock %}

{% block content %}

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-archive" aria-hidden="true"></i> Productos
                            </li>
                        </ol>
                        <h1 class="page-header">
                            Productos <small> Gestión y Administración de Stock</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <h2>Productos</h2>
                        {% if num_pages > 1 %}
                            <div class="row align-content-center justify-content-center">
                                {% bootstrap_pagination lines url="?page=1&flop=flip" extra="q=foo" size="medium" %} 
                            </div>
                        {% endif %}
                        <div class="table-responsive">                            
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Nombre</th>
                                        <th>Referencia</th>
                                        <th>Coste</th>
                                        <th>Recomendado</th>
                                        <th>PVP</th>
                                        <th></th>
                                    </tr>
                                </thead>                                
                                <tbody>
                                    {% for ficha in lista %}
                                        <tr>
                                            <td>{{ficha.pk}}</td>
                                            <td><a href="/admin/shop/product/{{ficha.pk}}/change/">{{ficha.name}}</a></td>
                                            <td>{{ficha.ref}}</td>
                                            <td>{{ficha.cost_price}}</td>                                                                                
                                            <td>{{ficha.price}}</td>                                                                                
                                            <td>{{ficha.pvp}}</td>                                                                                
                                            <td>
                                                <a href="{{ficha.product_url}}" target="_blank"><i class="fa fa-external-link"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>                            
                        </div>
                        <div class="row align-content-center justify-content-center">
                            {% if num_pages > 1 %}
                                {% bootstrap_pagination lines url="?page=1&flop=flip" extra="q=foo" size="medium" %}
                            {% endif %}
                            {{num_prod}} Producto/s
                        </div>
                    </div>
                    <hr>
                    <div class="col-lg-6">                        
                        <h2>Contextual Classes</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Page</th>
                                        <th>Visits</th>
                                        <th>% New Visits</th>
                                        <th>Revenue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="active">
                                        <td>/index.html</td>
                                        <td>1265</td>
                                        <td>32.3%</td>
                                        <td>$321.33</td>
                                    </tr>
                                    <tr class="success">
                                        <td>/about.html</td>
                                        <td>261</td>
                                        <td>33.3%</td>
                                        <td>$234.12</td>
                                    </tr>
                                    <tr class="warning">
                                        <td>/sales.html</td>
                                        <td>665</td>
                                        <td>21.3%</td>
                                        <td>$16.34</td>
                                    </tr>
                                    <tr class="danger">
                                        <td>/blog.html</td>
                                        <td>9516</td>
                                        <td>89.3%</td>
                                        <td>$1644.43</td>
                                    </tr>
                                    <tr>
                                        <td>/404.html</td>
                                        <td>23</td>
                                        <td>34.3%</td>
                                        <td>$23.52</td>
                                    </tr>
                                    <tr>
                                        <td>/services.html</td>
                                        <td>421</td>
                                        <td>60.3%</td>
                                        <td>$724.32</td>
                                    </tr>
                                    <tr>
                                        <td>/blog/post.html</td>
                                        <td>1233</td>
                                        <td>93.2%</td>
                                        <td>$126.34</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
{% endblock %}
