{% load static %}
<style>
    .card-body{
        padding:.7rem;
    }
    .tagcloud03:first-child {
        _margin-top: 3em;
    }
    .tagcloud03 ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .tagcloud03 ul li {
        display: inline-block;
        margin: 0 .3em .3em 0;
        padding: 0;
    }
    .tagcloud03 ul li a {
        position: relative;
        display: inline-block;
        _max-width: 100px;
        height: 30px;
        line-height: 30px;
        padding: 0 2.5em 0 1em;
        background-color: #fff;
        border: 1px solid #aaa;
        border-radius: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #333;
        font-size: 13px;
        text-decoration: none;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .tagcloud03 li span {
        position: absolute;
        top: 3px;
        right: 3px;
        z-index: 2;
        width: 22px;
        height: 22px;
        line-height: 22px;
        background-color: #3498db;
        border-radius: 100%;
        color: #fff;
        font-size: 12px;
        text-align: center;
        -webkit-transition: .2s;
        transition: .2s;
    }
    .tagcloud03 ul li a:hover {
        background-color: #3498db;
        border: 1px solid #3498db;
        color: #fff;
    }
    .tagcloud03 ul li a:hover span {
        background-color: #fff;
        color: #3498db;
    }    
</style>
<div class="card">
    <div class="card-body">
        <h4><ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'listing-grid' %}">Todas las Categorías</a></li>
            {% if breadcrumbs %}
                {% for slug,name in breadcrumbs %}
                    <li class="breadcrumb-item"><a href="/categorias/{{slug}}">{{ name | upper }}</a></li>
                {% endfor %}
            {% endif %}        
            <li class="breadcrumb-item active" aria-current="page">
                <!--
                {% if ficha.image.url %}
                    <img src="{{ ficha.image.url }}" width="45px" height="45px">
                {% else %}
                    <img src="{% static 'img/no-foto.jpg' %}" alt="Sin Foto" width="45px" height="45px">
                {% endif %}-->
                    {{search | upper }}
            </li>
        </ol></h4>
    </div>
    {% if sub_categories %}
    <div class="card-body">
        <div class="row">
            <div class="col-md-4-24"><h5><strong>SubCategorías</strong></h5></div> <!-- col.// -->
            <div class="col-md-20-24">  
                <div class="tagcloud03">
                    <ul>
                        {% for sub_c in sub_categories %}
                            <li><a href="{{ sub_c.slug }}">{{sub_c.name}}<span>{{ sub_c.product_set.all.count }}</span></a></li>
                        {% endfor %}
                    </ul>  
                </div>      
            </div>
        </div><!-- row.// -->
    </div> <!-- card-body .// -->
    {% endif %}
</div> <!-- card.// -->
<br>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3-24"> <strong>Filter by:</strong> </div> <!-- col.// -->
            <div class="col-md-18-24"> 
                <ul class="list-inline">
                    <li class="list-inline-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Supplier type </a>
                        <div class="dropdown-menu p-3" style="max-width:400px;">	
                            <label class="form-check">
                                    <a href="#">
                                        <input type="checkbox" class="form-check-input"> Good supplier</a>
                            </label>
                            <label class="form-check">
                                    <a href="#">
                                        <input type="checkbox" class="form-check-input"> Best supplier</a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> New supplier</a>
                            </label>
                        </div> <!-- dropdown-menu.// -->
                    </li>
                    <li class="list-inline-item dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">  Country </a>
                        <div class="dropdown-menu p-3" style="max-width:400px;">	
                        <label class="form-check">
                            <a href="#">
                            <input type="checkbox" class="form-check-input"> China
                            </a>
                        </label>
                        <label class="form-check">
                            <a href="#">
                            <input type="checkbox" class="form-check-input"> Japan
                            </a>
                        </label>
                        <label class="form-check">
                            <a href="#">
                            <input type="checkbox" class="form-check-input"> Uzbekistan
                            </a>
                        </label>
                        <label class="form-check">
                            <a href="#">
                            <input type="checkbox" class="form-check-input"> Russia
                            </a>
                        </label>
                        </div> <!-- dropdown-menu.// -->
                    </li>
                    <li class="list-inline-item"><a href="#">Product type</a></li>
                    <li class="list-inline-item"><a href="#">Brand name</a></li>
                    <li class="list-inline-item"><a href="#">Color</a></li>
                    <li class="list-inline-item"><a href="#">Size</a></li>
                    <li class="list-inline-item">
                        <div class="form-inline">
                            <label class="mr-2">Price</label>
                            <input class="form-control form-control-sm" placeholder="Min" type="number">
                                <span class="px-2"> - </span>
                            <input class="form-control form-control-sm" placeholder="Max" type="number">
                            <button type="submit" class="btn btn-sm ml-2">Ok</button>
                        </div>
                    </li>
                </ul>
            </div> <!-- col.// -->
            <div class="col-md-3-24 text-right"> 
                <a href="#" data-toggle="tooltip" title="List view"> <i class="fa fa-bars"></i></a>
                <a href="#" data-toggle="tooltip" title="Grid view"> <i class="fa fa-th"></i></a>
            </div> <!-- col.// -->
        </div> <!-- row.// -->
    </div> <!-- card-body .// -->
</div> <!-- card.// -->