{% extends './base.html' %}
{% load static %}
{% block title %}Home - {{ block.super }}{% endblock %}
{% block container %}
	<!-- ========================= SECTION MAIN ========================= -->
	<section class="section-main bg padding-y-sm">
        {% include "./home-section-main.html" %}
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y-sm bg">  
        {% include "./home-section-content1.html" %}
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y-sm bg">
        {% include "./home-section-content2.html" %}
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    <!-- ========================= SECTION REQUEST ========================= -->
    <section class="section-request bg padding-y-sm">    
        {% include "./home-section-request.html" %}
    </section>
    <!-- ========================= SECTION REQUEST .END// ========================= -->    
    <!-- ========================= SECTION ITEMS ========================= -->
    <section class="section-request bg padding-y-sm">
        {% include "./home-section-items.html" %}
    </section>
    <!-- ========================= SECTION ITEMS .END// ========================= -->
    <!-- ========================= SECTION LINKS ========================= -->
    <section class="section-links bg padding-y-sm">
        {% include "./home-section-links.html" %}
    </section>
    <!-- ========================= SECTION LINKS END.// ========================= -->
    <!-- ========================= SECTION SUBSCRIBE ========================= -->
    <section class="section-subscribe bg-secondary padding-y-lg">
        {% include "./home-section-subscribe.html" %}
    </section>
	<!-- ========================= SECTION SUBSCRIBE END.//========================= -->
{% endblock %}