{% extends './base.html' %}
{% load static %}
{% block title %}Información del Producto - {{ block.super }}{% endblock %}
{% block container %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg padding-y-sm">
	<div class="container">
		<div class="row">
			<div class="col-xl-10 col-md-9 col-sm-12">
				<div class="row mb-2">
					<div class="col-6"><span class="float-left">{% include "./breadcrumb.html" %}</span></div>
					<div class="col-6"><span class="float-right">{% include "./breadcrumb_fab.html" %}</span></div>
				</div>
				<main class="card">
					<div class="row no-gutters">						
						<aside class="col-sm-6 border-right">		
							<article>
								<div class="tab-content">
									<!--<span class="badge-offer"><b> - 50%</b></span>-->
									<span class="badge-offer pt-2">
									<a href="//categorias/{{ ficha.fabricante.get_cat_list }}/{{ficha.fabricante.slug}}/" >
										<img height="60px"
											{% if ficha.fabricante.imagen %}
												src="{{ ficha.fabricante.imagen.url }}" 
											{% else %}
												src="{% static 'media/no-foto.jpg' %}"
											{% endif %}
											alt="{{ ficha.fabricante.name }}" title="{{ ficha.fabricante.name }}">  
									</a></span>
									{% for image in ficha.imagenes.all %}
										<div id="{{ image.pk }}" class="container tab-pane {% if image.preferred %}active{% else %}fade{% endif %}">
											<img class="replace-2x img-responsive" src="{{ image.url }}" 
												alt="{{ image.name }}" title="{{ image.name }}" width="100%">
										</div>
									{% endfor %}
								</div>
								<div class="row content btn-toolbar mt-1 pl-3" role="toolbar" aria-label="Toolbar with button groups">                
									{% if ficha.imagenes.all.count > 1 %}
									<nav>
										<ul class="nav nav-tabs" role="tablist">
											{% for image in ficha.imagenes.all %}                    
												<li class="nav-item">
													<a data-toggle="tab" href="#{{ image.pk }}" class="nav-link{% if image.preferred %} active{% endif %}">
														<img class="replace-2x img-responsive" src="{{ image.url }}" alt="{{ image.name }}"
															title="{{ image.name }}" width="50">
													</a>
												</li>
											{% endfor %}
										</ul>
									</nav>
									{% endif %}
								</div>
							</article>
						</aside>
						<aside class="col-sm-6">
							<article class="p-5">
								<h3 class="title mb-3">{{ficha.name}}</h3>
								<div class="mb-3"> 
									<var class="price h2 text-danger"> 
										<span class="num">{{ ficha.pvp | floatformat:2 }}</span><span class="currency"> €</span>
									</var>  
									<var class="price h4 text-danger"> 
										<del class="price-old"><span class="num">{{ ficha.price | floatformat:2 }}</span><span class="currency"> €</span></del>
									</var>  
									<!-- <span>/per kg</span> -->
								</div> <!-- price-detail-wrap .// -->
								{% if not ficha.description == ficha.name %}
								<dl>
									<dt>Descripción</dt>
									<dd><p>{{ ficha.description }}</p></dd>
								</dl>
								{% endif %}
								<dl class="row">
									<dt class="col-sm-3">Referencia</dt><dd class="col-sm-9">{{ ficha.ref }}</dd>
								</dl>
								<div class="row rating-wrap">
									<div class="col-sm-6">
										<dl class="dlist-inline">
											<ul class="rating-stars">
												<li style="width:80%" class="stars-active"> 
													<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
													<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
													<i class="fa fa-star"></i> 
												</li>
												<li>
													<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
													<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
													<i class="fa fa-star"></i> 
												</li>
											</ul>
										</dl>  <!-- item-property .// -->
									</div> <!-- col.// -->
									<div class="col-sm-6">
										<dl class="dlist-inline">
											<div class="label-rating">132 reviews</div>
											<div class="label-rating">154 orders </div>
										</dl>  <!-- item-property .// -->
									</div><!-- col.// -->
								</div> <!-- rating-wrap.// -->
								<hr>
								<div class="row">
									<div class="col-sm-6">
										<dl class="dlist-inline">
											<dt>Cantidad: </dt>
											<dd> 
												<select class="form-control form-control-sm" {% if not ficha.available %} disabled{% endif %} style="width:70px;">
													<option> 1 </option>
													<option> 2 </option>
													<option> 3 </option>
													<option value="{{ ficha.stock }}">{{ ficha.stock }} {{ ficha.unit_of_measurement}} </option>
												</select>
											</dd>
										</dl>  <!-- item-property .// -->
									</div> <!-- col.// -->
									<div class="col-sm-6">
										<dl class="dlist-inline">
											<dt>Estado: </dt>
											<dd> 
												{% if ficha.available %}<span class="text-success">DISPONIBLE</span> 
												{% else %}<span class="text-danger">NO DISPONIBLE</span>{% endif %} 
											</dd>
										</dl>  <!-- item-property .// -->
									</div><!-- col.// -->
									
									<!--
									<div class="col-sm-7">
										<dl class="dlist-inline">
											<dt>Size: </dt>
											<dd>
												<label class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
													<span class="form-check-label">SM</span>
												</label>
												<label class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
													<span class="form-check-label">MD</span>
												</label>
												<label class="form-check form-check-inline">
													<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
													<span class="form-check-label">XXL</span>
												</label>
											</dd>
										</dl>  !-- item-property .// --
									</div> !-- col.// --
									-->
								</div> <!-- row.// -->
								<hr>
								<div class="mx-2 my-2">                                                      
									{% if ficha.new %}
										<span class="alert alert-success">Nuevo</span>{% endif %}
										{% if ficha.release_date >= hoy %}
											{% if ficha.new %}
												<span class="alert alert-primary">Lanzamiento {{ ficha.release_date|date:"d/m/Y" }}</span>
											{% else %}    
												<span class="alert alert-warning">Reposición {{ ficha.release_date|date:"d/m/Y" }}</span>
											{% endif %}
										{% else %}
											{% if not ficha.stock %}
												<span class="alert alert-danger">Agotado</span>
												{% if ficha.updated == date_min %}
													<span class="alert alert-secondary">Sin Reposición</span>{% endif %}
											{% else %}
												{% if ficha.available %}
													<!--<div class="alert alert-success ml-1 pl-2 pr-2" role="alert">Disponible {{ ficha.stock }} {{ ficha.unit_of_measurement}}</div>-->
													<a href="#" class="btn btn-danger"> Comprar Ahora </a>
													<a href="#" class="btn btn-outline-danger"> <i class="fas fa-shopping-cart"></i> Añadir al Carro </a>
												{% else %}
													<span class="alert alert-warning">Reposición {{ ficha.release_date|date:"d/m/Y" }}</span>
												{% endif %}                             
											{% endif %}
										{% endif %}
										{% if ficha.sale %}
											<span class="alert alert-danger">Rebajado</span>{% endif %}
										{% if ficha.destocking %}
											<span class="alert alert-dark">Descatalogado</span>{% endif %}
								</div><!-- row.// -->  
								<hr>
								<div class="my-2">
									<a class="btn btn-outline-primary" href="{{ ficha.product_url }}" target="_blank" >VER PROVEEDOR REF. {{ ficha.ref }}</a>
									<a class="btn btn-primary" href="actualizar/">Actualizar</a>
									<a class="btn btn-outline-danger" href="borrar/" onclick="return confirm('¡¡Vas a BORRAR el Producto!!')"> Borrar</a> 
								</div><!-- row.// -->    
							</article> <!-- card-body.// -->
						</aside> <!-- col.// -->
					</div> <!-- row.// -->
				</main> <!-- card.// -->
				<!-- PRIVATE SECTION -->
				<article class="card mt-2">
					<div class="card-body row">
							<div class="col-sm-6">	
								<div class="row card">    
									<article class="card-group-item">
										<header class="card-header">
											<a href="#" data-toggle="collapse" data-target="#collapse33" aria-expanded="false" class="collapsed">
												<i class="icon-action fa fa-chevron-down"></i>
												<h5 class="title">Información para Vendedores</h5>
											</a>
										</header>
										<div class="filter-content collapse" id="collapse33" style="">
											<div class="card-body">
												<dl class="row">
													<dt class="col-sm-7 text-right">Unidades Disponibles</dt><dd class="col-sm-auto">{{ ficha.stock }}</dd>													
													<dt class="col-sm-7 text-right">PVP (iva inc.):</dt><dd class="col-sm-auto">{{ ficha.pvp | floatformat:2 }} €</dd>
													<dt class="col-sm-7 text-right">Precio (iva inc.):</dt><dd class="col-sm-auto">{{ ficha.price | floatformat:2 }} €</dd>
													<dt class="col-sm-7 text-right">Recomendado (iva inc.):</dt><dd class="col-sm-auto">{{ ficha.recommended_retail_price | floatformat:2 }} €</dd>
													<dt class="col-sm-7 text-right">Gastos de Envío({{ ficha.delivery_desc}}) (iva inc.):</dt><dd class="col-sm-auto text-danger">-{{ ficha.default_shipping_cost | floatformat:2 }} €</dd>
													<dt class="col-sm-7 text-right">Precio Coste:</dt><dd class="col-sm-auto text-danger">-{{ ficha.cost_price | floatformat:2 }} €</dd>
													<dt class="col-sm-7 text-right">Beneficio ({{ porc_benef|floatformat:2  }}%):</dt><dd class="col-sm-5">{{ beneficio | floatformat:2 }} €</dd>
													<dt class="col-sm-6 text-right">F. Creación:</dt><dd class="col-sm-6">{{ ficha.created_date|date:"d/m/Y" }}</dd>
													<dt class="col-sm-6 text-right">F. Actualización:</dt><dd class="col-sm-6">{{ ficha.updated|date:"d/m/Y, H:i" }}</dd>
													<dt class="col-sm-6 text-right">F. Lanzamiento/Reposición:</dt><dd class="col-sm-6">{{ ficha.release_date|date:"d/m/Y" }}</dd>
												</dl>
											</div> <!-- card-body.// -->
										</div>
									</article> <!-- card-group-item.// -->
								</div>
							</div>
							<div class="col-sm-6">
								<div class="row card"> 
									<article class="card-group-item">
										<header class="card-header">
											<a href="#" data-toggle="collapse" data-target="#collapse44" aria-expanded="false" class="collapsed">
												<i class="icon-action fa fa-chevron-down"></i>
												<h5 class="title">Información del Sistema</h5>
											</a>
										</header>
										<div class="filter-content collapse" id="collapse44" style="">
											<div class="card-body">
												<dl class="row">
													<dt class="col-sm-5 text-right">Fecha de Hoy:</dt><dd class="col-sm-auto">{{ hoy }}</dd>
													<dt class="col-sm-5 text-right">Fecha Min.:</dt><dd class="col-sm-auto">{{ date_min }}</dd>
													<dt class="col-sm-6 text-right">available</dt><dd class="col-sm-auto">{{ ficha.available }}</dd>
													<dt class="col-sm-6 text-right">destocking</dt><dd class="col-sm-auto">{{ ficha.destocking }}</dd>
													<dt class="col-sm-6 text-right">sale</dt><dd class="col-sm-auto">{{ ficha.sale }}</dd>
													<dt class="col-sm-6 text-right">new</dt><dd class="col-sm-auto">{{ ficha.new }}</dd>													
												</dl>
											</div> <!-- card-body.// -->
										</div>
									</article> <!-- card-group-item.// -->
								</div> <!-- card.// -->
							</div>
						
					</div> <!-- card-body.// -->
				</article> <!-- card.// -->
				<!-- PRIVATE SECTION .// -->
				<!-- PRODUCT DETAIL -->
				<article class="card mt-2">
					<div class="card-body">
						<h4>Descripción</h4>
						<p class="rte text-justify m-3">{{ ficha.html_description|safe }}</p>
					</div> <!-- card-body.// -->
				</article> <!-- card.// -->
				<!-- PRODUCT DETAIL .// -->
			</div> <!-- col // -->
			<aside class="col-xl-2 col-md-3 col-sm-12">
				<div class="card">
					{% include './info-envio.html' %}
				</div> <!-- card.// -->
				<div class="card mt-3">
					{% include './product-relaited.html' %}
				</div> <!-- card.// -->
			</aside> <!-- col // -->
		</div> <!-- row.// -->
	</div><!-- container // -->
</section>
<!-- ========================= SECTION CONTENT .END// ========================= -->
{% endblock %}