<!-- ========================= SECTION TOPBAR ========================= -->
<section class="section-topbar border-top padding-y-sm">
    <div class="container">
        <span>Supplier: Manufacturer of China Co., Ltd.</span> &nbsp  <span class="text-primary">2 years</span>
        <div class="float-right dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" >English</a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#">Russian </a>
                <a class="dropdown-item" href="#">Arabic </a>
            </div>
        </div> 
    </div> <!-- container.// -->
</section>
<!-- ========================= SECTION TOPBAR .// ========================= -->